@import "custom-scrollbar.css";

@font-face {
    font-family: 'CircularSP';
    src: url('../fonts/CircularSpotifyText-Book.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'CircularSP';
    src: url('../fonts/CircularSpotifyText-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'CircularSP';
    src: url('../fonts/CircularSpotifyText-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}


.color-green {
    color: #1ed760;
}

.bg-green {
    background-color: #1ed760;
}

.bg-white-none {
    background-color: rgba(255, 255, 255, 0);
}

.bg-white-03 {
    background-color: rgba(255, 255, 255, 0.03);
}

.bg-white-05 {
    background-color: rgba(255, 255, 255, 0.05);
}

.bg-white-07 {
    background-color: rgba(255, 255, 255, 0.07);
}

.bg-white-1 {
    background-color: rgba(255, 255, 255, 0.1);
}

.bg-white-2 {
    background-color: rgba(255, 255, 255, 0.2);
}

.bg-white-3 {
    background-color: rgba(255, 255, 255, 0.3);
}

.bg-white-4 {
    background-color: rgba(255, 255, 255, 0.4);
}

.bg-white-5 {
    background-color: rgba(255, 255, 255, 0.5);
}

.bg-white-6 {
    background-color: rgba(255, 255, 255, 0.6);
}

.bg-white-7 {
    background-color: rgba(255, 255, 255, 0.7);
}

.bg-white-8 {
    background-color: rgba(255, 255, 255, 0.8);
}

.bg-white-9 {
    background-color: rgba(255, 255, 255, 0.9);
}

.bg-white-full {
    background-color: rgba(255, 255, 255, 1);
}

.color-white-none {
    color: rgba(255, 255, 255, 0);
}

.color-white-05 {
    color: rgba(255, 255, 255, 0.05);
}

.color-white-1 {
    color: rgba(255, 255, 255, 0.1);
}

.color-white-2 {
    color: rgba(255, 255, 255, 0.2);
}

.color-white-3 {
    color: rgba(255, 255, 255, 0.3);
}

.color-white-4 {
    color: rgba(255, 255, 255, 0.4);
}

.color-white-5 {
    color: rgba(255, 255, 255, 0.5);
}

.color-white-6 {
    color: rgba(255, 255, 255, 0.6);
}

.color-white-7 {
    color: rgba(255, 255, 255, 0.7);
}

.color-white-8 {
    color: rgba(255, 255, 255, 0.8);
}

.color-white-9 {
    color: rgba(255, 255, 255, 0.9);
}

.color-white-full {
    color: rgba(255, 255, 255, 1);
}

.border-white-op {
    border: solid 1px rgba(255, 255, 255, 0.5);
}

.box-shadow {
    box-shadow: 1px 1px 40px 1px rgba(0, 0, 0, 0.07);
}

.box-shadow-heavy {
    box-shadow: 0 1px 25px 2px rgba(0, 0, 0, 0.7);
}

.container {
    border: none;
    border-radius: 10px;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

.text-tiny {
    font-size: 0.65rem;
}

.w-fit {
    width: fit-content;
}

.w-login-fixed {
    width: 900px;
}

.h-fit {
    height: fit-content;
}

.two-line-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bg-gradient-white {
    background: linear-gradient(to bottom, #212121 0%, black 70%, black 100%);
}

button:hover {
    transform: scale(103%);
}