body {
    display: grid;
    grid-template-columns: 310px 1fr;
    grid-template-rows: 1fr 85px;
    padding: 0.5rem;
    gap: 0.5rem;
    color: white;
    background: black;
    overflow: hidden;
}

body > div:first-child {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 0.5rem;
}

body > div:nth-child(2) {
    position: relative;
    border-radius: 0.5rem;
    overflow-y: scroll;
}

body > div:nth-child(2) > div:first-child {
    width: 100%;
    position: sticky;
    z-index: 20;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #121212;
    padding: 0.75rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body > div:nth-child(2) > div:nth-child(2) {
    padding: 1.25rem 1.5rem 0;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 4rem;
}

.search-bar {
    position: relative;
    font-size: 1rem;
    line-height: 1.5rem;
}