<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="playlist-list" class="flex flex-col gap-3 h-fit">
    <div class="flex justify-between items-center font-bold">
        <p class="text-xl hover:underline">Keyword</p>
        <p class="text-sm color-white-5 hover:underline hidden md:block">Show all</p>
    </div>

    <div class="grid grid-cols-2 md:grid md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-7 gap-4">
<!--        <div th:each="playlist, iterStat : ${playlists}" th:classappend="${iterStat.index < 2 ? 'flex' :-->
<!--                                    (iterStat.index < 3 ? 'hidden md:flex' :-->
<!--                                    (iterStat.index < 4 ? 'hidden lg:flex' :-->
<!--                                    (iterStat.index < 5 ? 'hidden xl:flex' :-->
<!--                                    (iterStat.index < 7 ? 'hidden 2xl:flex' : 'hidden'))))}"-->
<!--             class="playlist rounded-lg p-4 flex-col gap-4 bg-white-03 overflow-hidden">-->
<!--            <div class="relative">-->
<!--                <img class="rounded-md object-cover w-full aspect-square box-shadow"-->
<!--                     th:src="${playlist.photoUrl}" alt="">-->
<!--                <div class="play-button absolute right-3 bottom-2 w-11 h-11 box-shadow-heavy bg-green rounded-full ">-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="rounded-lg-content w-full flex flex-col gap-0.5">-->
<!--                <p class="font-bold text-base" th:text="${playlist.title}">Playlist title</p>-->
<!--                <p class="text-xs color-white-5 two-line-ellipsis" th:text="${playlist.description}">Playlist-->
<!--                    long description</p>-->
<!--            </div>-->
<!--        </div>-->
    </div>
</div>

<div th:fragment="categories-search" class="flex flex-col gap-5">
    <p class="font-bold text-2xl">Browse all</p>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6 2xl:grid-cols-7 gap-4">
        <!--    <a href="" class="hover:cursor-pointer">-->
        <!--        <div th:each="category : ${categories}">-->
        <!--            <p th:text="${category.title}"></p>-->
        <!--        </div>-->
        <!--    </a>-->
        <a href="" class="w-full rounded-lg p-3 hover:cursor-pointer overflow-hidden color-random"
           style="aspect-ratio: 1;">
            <p class="font-bold text-2xl">Pop</p>
        </a> <a href="" class="w-full rounded-lg p-3 hover:cursor-pointer overflow-hidden color-random"
                style="aspect-ratio: 1;">
        <p class="font-bold text-2xl">Pop</p>
    </a> <a href="" class="w-full rounded-lg p-3 hover:cursor-pointer overflow-hidden color-random"
            style="aspect-ratio: 1;">
        <p class="font-bold text-2xl">Pop</p>
    </a> <a href="" class="w-full rounded-lg p-3 hover:cursor-pointer overflow-hidden color-random"
            style="aspect-ratio: 1;">
        <p class="font-bold text-2xl">Pop</p>
    </a> <a href="" class="w-full rounded-lg p-3 hover:cursor-pointer overflow-hidden color-random"
            style="aspect-ratio: 1;">
        <p class="font-bold text-2xl">Pop</p>
    </a> <a href="" class="w-full rounded-lg p-3 hover:cursor-pointer overflow-hidden color-random"
            style="aspect-ratio: 1;">
        <p class="font-bold text-2xl">Pop</p>
    </a> <a href="" class="w-full rounded-lg p-3 hover:cursor-pointer overflow-hidden color-random"
            style="aspect-ratio: 1;">
        <p class="font-bold text-2xl">Pop</p>
    </a>
    </div>
</div>


</body>
</html>