<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head th:replace="layout/index-layout::head('Spotify - Web Player: Music for everyone', '/assets/css/hide-search-bar.css', '')">
</head>
<body>
<div th:replace="layout/index-layout::sidebar"></div>

<div>
    <div th:replace="layout/index-layout::main-topbar"></div>

    <div>
<!--        content ở thẻ div này-->
        <div th:replace="layout/content-layout::playlist-list"></div>

        <div th:replace="layout/index-layout::main-footer"></div>
    </div>
</div>
<div th:replace="layout/index-layout::footer">
</div>
</body>
</html>