<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="layout/index-layout::head('Spotify - Web Player: Music for everyone', '/assets/css/hide-search-bar.css', '')">
</head>
<body>
<div th:replace="layout/index-layout::sidebar" sec:authorize="!isAuthenticated()"></div>
<div th:replace="layout/home-layout::sidebar" sec:authorize="isAuthenticated()"></div>
<div th:if="${param.access_denied}">
    <script>
        alert("You do not have permission to access this page. We'll send you back to home page.");
        window.location.href = '/access-denied'
    </script>
</div>


<div>
    <div th:replace="layout/index-layout::main-topbar" sec:authorize="!isAuthenticated()"></div>
    <div th:replace="layout/home-layout::main-topbar" sec:authorize="isAuthenticated()"></div>

    <div class="bg-gradient-index" sec:authorize="!isAuthenticated()">
<!--        <div th:if="${param.success}" class="text-base font-bold">-->
<!--            You're logging in-->
<!--        </div>-->
<!--        content ở thẻ div này-->
        <div th:replace="layout/content-layout::playlist-list"></div>

        <div th:replace="layout/index-layout::main-footer"></div>
    </div>

    <div th:replace="layout/home-layout::content" sec:authorize="isAuthenticated()"></div>

</div>

<div th:replace="layout/home-layout::account-overlay" sec:authorize="isAuthenticated()"></div>

<div th:replace="layout/index-layout::footer" sec:authorize="!isAuthenticated()"></div>
<div th:replace="layout/home-layout::player" sec:authorize="isAuthenticated()"></div>

<script th:src="@{/assets/js/accountOverlay.js}" sec:authorize="isAuthenticated()"></script>

</body>
</html>