<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head th:replace="layout/login-signin-layout::head('Sign up - Spotify')">
</head>
<body class="text-white w-screen h-fit bg-gradient-white overflow-hidden min-h-screen overflow-y-scroll">
<div th:replace="layout/login-signin-layout::header">
</div>


<div class="pt-14 h-fit">
    <form class="w-login-fixed bg-black mx-auto rounded-xl px-24 pt-20 pb-10"
          th:action="@{/user-profiles/{userId}/profile/edit(userId=${userProfile.userId})}" method="post" th:object="${userProfile}"
          role="form">
        <div class="px-28 flex flex-col gap-8 mt-10">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-2">
                    <div>
                        <label for="fullName" class="text-base font-bold">Full Name</label>
                    </div>
                    <input class="bg-black text-lg text-clip border border-gray-500 rounded-md p-3 hover:border-white"
                           type="text"
                           id="fullName"
                           name="fullName"
                           placeholder="Name" required
                           th:field="*{fullName}"
                           >
                </div>
                <div class="flex flex-col gap-2">
                    <label for="email" class="text-base font-bold">Email address</label>
                    <input class="bg-black text-lg text-clip border border-gray-500 rounded-md p-3 hover:border-white"
                           type="text"
                           id="email"
                           name="email"
                           placeholder="name@domain.com" required
                           th:field="*{email}"
                           >

                </div>

                <div class="flex flex-col gap-2">
                    <label for="phoneNumber" class="text-base font-bold">Phone Number</label>
                    <div class="relative flex flex-col gap-2">
                        <input class="password bg-black text-lg text-clip border border-gray-500 rounded-md p-3 hover:border-white w-full"
                               type="text"
                               pattern="\d*"
                               id="phoneNumber"
                               name="phoneNumber"
                               placeholder="phoneNumber" required
                               th:field="*{phoneNumber}"
                              >
                    </div>

                </div>
                <button type="submit"
                        class="bg-green rounded-full w-full py-4 text-lg text-black font-bold active:bg-400">
                    Save
                </button>
                <button type="reset"
                        class="bg-green rounded-full w-full py-4 text-lg text-black font-bold active:bg-400">
                         Reset
                </button>
            </div>
        </div>

        <hr class="border-white border opacity-10 my-10">
        <div th:replace="layout/login-signin-layout::footer" class="text-center color-white-5 text-xs mt-20">
        </div>
    </form>
    <script>
    </script>
</div>
<script th:src="@{/assets/js/register.js}"></script>
</body>
</html>