<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forbidden</title>
    <link rel="icon" sizes="32x32" type="image/png"
          href="https://open.spotifycdn.com/cdn/images/favicon32.b64ecc03.png"/>
    <script src="https://kit.fontawesome.com/94d7aff8f4.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/tailwind.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/base.css}">
</head>
<body class="w-screen h-screen text-white overflow-hidden bg-gray-user">
<div class="bg-black w-full py-8 px-10 xl:px-24">
    <a th:href="@{/index}">
        <img class="w-32" src="/assets/img/logo/spotify-logo-white.png" alt="This is spotify logo" >
    </a>

</div>

<div class="flex flex-col items-center gap-16 pt-64 w-full px-10">
    <div class="flex flex-col gap-4 items-center">
        <h1 class="text-7xl font-bold text-white">Please stop right there!</h1>
        <p class="text-lg color-white-5">You do not have access to view this content, please return.</p>
    </div>

    <a th:href="@{/index}"><button class="rounded-full py-3 px-6 text-xl cursor-pointer color-green border-green">Return to home</button></a>
</div>
</body>
</html>