<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Spotify - Web Player: Music for everyone</title>
    <link rel="icon" sizes="32x32" type="image/png"
          href="https://open.spotifycdn.com/cdn/images/favicon32.b64ecc03.png"/>
    <script src="https://kit.fontawesome.com/94d7aff8f4.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/tailwind.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/user.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom-scrollbar.css}">
</head>
<body class="bg-gray-user flex flex-col w-screen text-white">
<div class="w-full p-5 flex justify-between">
    <img class="w-32 h-auto" th:src="@{/assets/img/logo/spotify-logo-white.png}" alt="">
</div>

<div class="mx-5 lg:mx-24 xl:mx-96 flex flex-col mt-10">
    <div class="w-full bg-white bg-opacity-10 hover:bg-opacity-5 rounded-md p-4 flex flex-col gap-32 cursor-pointer">
        <div class="flex flex-col gap-2">
            <p class="text-xs">Your plan</p>
            <p class="text-3xl text-lightgray-user font-bold">Spotify Free</p>
        </div>

        <div class="w-full ml-auto cursor-pointer w-fit text-right px-6 py-1.5 rounded-full border border-gray-400 text-sm hover:border-white">Explore plans</div>
    </div>
</div>
</body>
</html>