<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head th:replace="layout/login-signin-layout::head('Sign up - Spotify')">
</head>
<body class="text-white w-screen h-fit bg-gradient-white overflow-hidden min-h-screen overflow-y-scroll">
<div th:replace="layout/login-signin-layout::header">
</div>


<div class="pt-14 h-fit">
    <form class="w-login-fixed bg-black mx-auto rounded-xl px-24 pt-20 pb-10"
          th:action="@{/account/change-password}"
          method="post"
          th:object="${user}"
          role="form">
        <div class="px-28 flex flex-col gap-8 mt-10">
            <div class="flex flex-col gap-6">
                <div class="flex flex-col gap-2">
                    <div th:if="${param.success}"  class="text-base font-bold">
                        <script>
                            alert("Your password have been change")
                        </script>
                    </div>
                    <div th:if="${param.failExistPassword}" class="text-base font-bold">
                        Wrong old password
                    </div>
                    <div th:if="${param.failSamePassword}" class="text-base font-bold">
                        Your password Confirm is not the same as your new password
                    </div>
                    <div>
                        <label for="currentPassword" class="text-base font-bold">Current Password</label>
                    </div>
                    <input class="bg-black text-lg text-clip border border-gray-500 rounded-md p-3 hover:border-white"
                           type="text"
                           id="currentPassword"
                           name="currentPassword"
                           placeholder="Current Password" required>
                    <!--                    <p th:if="${#fields.hasErrors('password')}" class="text-red-500 text-base pt-1"-->
                    <!--                       th:errors="*{password}"></p>-->
                </div>
                <div class="flex flex-col gap-2">
                    <label for="newPassword" class="text-base font-bold">New Password</label>
                    <input class="bg-black text-lg text-clip border border-gray-500 rounded-md p-3 hover:border-white"
                           type="text"
                           id="newPassword"
                           name="newPassword"
                           placeholder="New password" required>
                    <!--                    <p th:if="${#fields.hasErrors('password')}" class="text-red-500 text-base pt-1"-->
                    <!--                       th:errors="*{password}"></p>-->
                </div>

                <div class="flex flex-col gap-2">
                    <label for="passwordConfirm" class="text-base font-bold">Password Confirm</label>
                    <div class="relative flex flex-col gap-2">
                        <input class="password bg-black text-lg text-clip border border-gray-500 rounded-md p-3 hover:border-white w-full"
                               type="text"
                               id="passwordConfirm"
                               name="passwordConfirm"
                               placeholder="New password" required>
                    </div>
                    <!--                    <p th:if="${#fields.hasErrors('password')}" class="text-red-500 text-base pt-1"-->
                    <!--                       th:errors="*{password}"></p>-->
                </div>
                <button type="submit"
                        class="bg-green rounded-full w-full py-4 text-lg text-black font-bold active:bg-green-400"

                > Save
                </button>
            </div>
        </div>

        <hr class="border-white border opacity-10 my-10">
        <div th:replace="layout/login-signin-layout::footer" class="text-center color-white-5 text-xs mt-20">
        </div>
    </form>
</div>
<script th:src="@{/assets/js/register.js}"></script>
</body>
</html>