<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head th:replace="layout/index-layout::head('Spotify - Web Player: Music for everyone', '/assets/css/hide-search-bar.css', '')">
</head>
<body>
<div th:replace="layout/index-layout::sidebar"></div>

<div>
    <div th:replace="layout/index-layout::main-topbar"></div>

    <div>
        <div th:if="${param.successArtist}" class="text-base font-bold">
            You've created artist profile
        </div>
        <div th:if="${param.failArtist}" class="text-base font-bold">
            You've NOT created artist profile
        </div>
        <!--        content ở thẻ div này-->
<!--        <div th:replace="layout/content-layout::playlist-list"></div>-->
        <div th:each="artist : ${artists}" class="color-white-5">
            <p th:text="${artist.name}" class="p-3 text-xl rounded-2xl"></p>
            <img th:src="@{/artist/image/{artistId}(artistId=${artist.id})}" />
            <a th:href="@{/{artistId}/albums/new(artistId=${artist.id})}" class="p-3 text-xs rounded-2xl" >New Album</a>
            <a th:href="@{/{artistId}/albums(artistId=${artist.id})}" class="p-3 text-xs rounded-2xl" >List Album</a>
        </div>

        <div th:replace="layout/index-layout::main-footer"></div>
    </div>
</div>
<div th:replace="layout/index-layout::footer">
</div>
</body>
</html>