<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify - Web Player: Music for everyone</title>
    <link rel="icon" sizes="32x32" type="image/png"
          href="https://open.spotifycdn.com/cdn/images/favicon32.b64ecc03.png"/>
    <script src="https://kit.fontawesome.com/94d7aff8f4.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/tailwind.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/reset.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/base.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/grid.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/playlist-hover.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/custom-scrollbar.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/hide-search-bar.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script th:src="@{/assets/js/layoutIndexTopSideBar.js}"></script>
</head>
<body>
<div th:replace="layout/index-layout::sidebar" sec:authorize="!isAuthenticated()"></div>
<div th:replace="layout/home-layout::sidebar" sec:authorize="isAuthenticated()"></div>

<div class="bg-white-07">
    <div th:replace="layout/index-layout::main-topbar" sec:authorize="!isAuthenticated()"></div>
    <div th:replace="layout/home-layout::main-topbar" sec:authorize="isAuthenticated()"></div>

    <div class="bg-gradient-index" sec:authorize="!isAuthenticated()">
        <!--        <div th:if="${param.success}" class="text-base font-bold">-->
        <!--            You're logging in-->
        <!--        </div>-->
        <!--        content ở thẻ div này-->
        <div th:replace="layout/content-layout::playlist-list"></div>

        <div th:replace="layout/index-layout::main-footer"></div>
    </div>

    <div sec:authorize="isAuthenticated()">
        <div class="flex flex-col h-fit w-full">
            <div class="flex justify-between items-center font-bold">
                <p class="text-2xl hover:underline">Artists</p>
            </div>

            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-7 gap-4">
                <div class="playlist rounded-lg p-4 flex-col bg-white-07 overflow-hidden">
                    <div class="relative">
                        <img class="rounded-full object-cover w-full aspect-square box-shadow"
                             th:src="@{/assets/img/albums/demo1.webp}" alt="">
                        <div style="display: none"
                             class="play-button absolute right-3 bottom-2 w-11 h-11 box-shadow-heavy bg-green rounded-full">
                        </div>
                    </div>

                    <div class="rounded-lg-content w-full mt-4">
                        <p class="font-bold text-lg">Artist name</p>
                        <p class="text-base color-white-5 two-line-ellipsis">Artist</p>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

<div th:replace="layout/home-layout::account-overlay" sec:authorize="isAuthenticated()"></div>

<div th:replace="layout/index-layout::footer" sec:authorize="!isAuthenticated()"></div>
<div th:replace="layout/home-layout::player" sec:authorize="isAuthenticated()"></div>

<script th:src="@{/assets/js/accountOverlay.js}" sec:authorize="isAuthenticated()"></script>
</body>
</html>