<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="layout/index-layout::head('Spotify - Web Player: Music for everyone', '/assets/css/hide-search-bar.css', '')">
</head>
<body>
<div th:replace="layout/index-layout::sidebar" sec:authorize="!isAuthenticated()"></div>
<div th:replace="layout/home-layout::sidebar" sec:authorize="isAuthenticated()"></div>

<div class="bg-white-07">
    <div th:replace="layout/index-layout::main-topbar" sec:authorize="!isAuthenticated()"></div>
    <div th:replace="layout/home-layout::main-topbar" sec:authorize="isAuthenticated()"></div>


    <!--        content ở thẻ div này-->

    <div sec:authorize="!isAuthenticated()" class="w-full overflow-y-scroll">
        <div class="w-full p-4 flex gap-6">
            <img class="h-fit box-shadow-heavy aspect-square w-60 object-cover"
                 th:src="@{/albums/image/{albumId}(albumId=${album.id})}" alt="">

            <div class="text-white flex flex-col gap-3 h-fit mt-auto">
                <p class="text-base">Album</p>
                <p class="text-5xl font-black" th:text="${album.title}">Album name</p>
                <div class="flex items-center gap-6">
                    <p class="font-bold text-base mt-3" th:text="${songs.size()} + ' songs'">10 songs</p>
                </div>
            </div>
        </div>

        <div th:if="${songs.isEmpty()}">
            <p class="text-lg color-white-5 text-center my-28">This album doesn't have any songs yet</p>
        </div>

        <table th:if="${!songs.isEmpty()}" class="w-full text-base mx-5">
            <tr class="text-sm color-white-5 text-left" style="border-bottom: solid 1px rgba(255, 255, 255, 0.1);">
                <td class="p-1 w-14 text-center">#</td>
                <td class="p-1">Title</td>
            </tr>

            <tr th:each="song : ${songs}" class="text-base bg-white bg-opacity-0 hover:bg-opacity-10 cursor-pointer">
                <td class="px-1 py-2.5 text-center" th:text="${songs.indexOf(song)} + 1">1</td>
                <td class="px-1 py-2.5">
                    <a th:href="@{/{artistId}/{songId}/songs/songsDetail(artistId=${artist.id}, songId=${song.id})}"
                       class="block hover:underline cursor-pointer" th:text="${song.title}">Song name</a>
                    <p th:text="${artist.name}" class="color-white-5">Artist name 1</p>
                </td>
            </tr>
        </table>

    </div>
    <div sec:authorize="isAuthenticated()" class="w-full overflow-y-scroll">
        <div class="w-full p-4 flex gap-6">
            <img class="h-fit box-shadow-heavy aspect-square w-60 object-cover"
                 th:src="@{/albums/image/{albumId}(albumId=${album.id})}" alt="">

            <div class="text-white flex flex-col gap-3 h-fit mt-auto">
                <p class="text-base">Album</p>
                <p class="text-5xl font-black" th:text="${album.title}">Album name</p>
                <div class="flex items-center gap-6">
                    <p class="font-bold text-base mt-3" th:text="${songs.size()} + ' songs'">10 songs</p>
                    <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MODERATOR')">
                        <a th:href="@{/{albumId}/songs/upload(albumId=${albumId})}">
                            <button class="mt-2 text-base font-bold rounded-md px-4 py-2 border border-white">Upload new
                                song<i class="ml-2 fa-solid fa-arrow-up text-lg text-white-5"></i></button>
                        </a>
                        <a th:href="@{/albums/edit/{albumId}(albumId=${albumId})}">
                            <button class="mt-2 text-base font-bold rounded-md px-4 py-2 border border-white">Edit album<i
                                    class="ml-2 fa-solid fa-pencil text-lg text-white-5"></i></button>
                        </a>

                        <form th:action="@{/album/delete/{albumId}(albumId=${albumId})}" method="post">
                            <button type="submit"
                                    class="mt-2 text-base font-bold rounded-md px-4 py-2 border border-white"
                                    onclick="return confirmDelete()">Delete Album<i
                                    class="ml-2 fa-solid fa-minus text-white text-lg"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${songs.isEmpty()}">
            <p class="text-lg color-white-5 text-center my-28">This album doesn't have any songs yet</p>
        </div>

        <table th:if="${!songs.isEmpty()}" class="w-full text-base mx-5">
            <tr class="text-sm color-white-5 text-left" style="border-bottom: solid 1px rgba(255, 255, 255, 0.1);">
                <td class="p-1 w-14 text-center">#</td>
                <td class="p-1">Title</td>
            </tr>

            <tr th:each="song : ${songs}" class="text-base bg-white bg-opacity-0 hover:bg-opacity-10 cursor-pointer">
                <td class="px-1 py-2.5 text-center" th:text="${songs.indexOf(song)} + 1">1</td>
                <td class="px-1 py-2.5">
                    <a th:href="@{/{artistId}/{songId}/songs/songsDetail(artistId=${artist.id}, songId=${song.id})}"
                       class="block hover:underline cursor-pointer" th:text="${song.title}">Song name</a>
                    <p th:text="${artist.name}" class="color-white-5">Artist name 1</p>
                </td>
            </tr>
        </table>

    </div>


</div>

<script>
    function confirmDelete() {
        return confirm('Are you sure you want to delete this Album?');
    }
</script>

<div th:replace="layout/home-layout::account-overlay" sec:authorize="isAuthenticated()"></div>

<div th:replace="layout/index-layout::footer" sec:authorize="!isAuthenticated()"></div>
<div th:replace="layout/home-layout::player" sec:authorize="isAuthenticated()"></div>

<script th:src="@{/assets/js/accountOverlay.js}" sec:authorize="isAuthenticated()"></script>
<script th:src="@{/assets/js/musicPlayer.js}" sec:authorize="isAuthenticated()"></script>

</body>
</html>