<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="table">
    <thead>
    <tr>
        <td class="text-xs">Songs</td>
        <td class="text-xs">Artist</td>
        <td class="text-xs">Album</td>
        <td class="text-xs">Controller</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
        <td><p th:text="${song.title}" class="text-xs"></p></td>
        <td><p th:text="${artist.name}" class="text-xs"></p></td>
        <td><p th:text="${album.title}" class="text-xs"></p></td>
        <td>
            <a th:href="@{/{artistId}/{songId}/songs/songsDetail(artistId=${artist.id}, songId=${song.id})}" class="text-xs">View Song</a>

        </td>
    </tr>
    </tbody>
</table>

<div>
    <audio th:src="@{'/assets/song/' + ${song.filename}}" controls>
        Your browser does not support the audio tag.
    </audio>

    <div th:if="${lyrics != null}" th:object="${lyrics}">
        <h2 class="text-2xl">Song Lyrics:</h2>
        <p th:each="line : ${lyrics}">
            <span th:text="${line}" class="text-xs"></span><br>
        </p>

    </div>

    <div th:replace="layout/index-layout::main-footer"></div>
</div>
</body>
</html>