<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org/">
<head th:replace="layout/index-layout::head('Spotify - Web Player: Music for everyone', '/assets/css/hide-search-bar.css', '')">
</head>
<body>
<div th:replace="layout/index-layout::sidebar"></div>

<div>
    <div th:replace="layout/index-layout::main-topbar"></div>

    <div>

        <!--        content ở thẻ div này-->
        <table class="table">
            <thead>
            <tr>
                <td class="text-xs">Songs</td>
                <td class="text-xs">Artist</td>
                <td class="text-xs">Album</td>
                <td class="text-xs">Controller</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="song : ${songs}">
                <td><p th:text="${song.title}" class="text-xs"></p></td>
                <td><p th:text="${artist.name}" class="text-xs"></p></td>
                <td><p th:text="${album.title}" class="text-xs"></p></td>
                <td>
                    <a th:href="@{/{artistId}/{songId}/songs/songsDetail(artistId=${artist.id}, songId=${song.id})}" class="text-xs">View Song</a>

                </td>
            </tr>
            </tbody>
        </table>

        <div th:replace="layout/index-layout::main-footer"></div>
    </div>
</div>
<div th:replace="layout/index-layout::footer">
</div>
</body>
</html>